<% provide(:title, 'Projects') %>
<div class="projects-container">
  <h1> Projects </h1>
  <div>
    <ul class="unstyled">
      <li><h3><%= link_to "CS 424", projects_cs424_path  %></h3>Visualization and Visual Analytics Fall 2012</li>
      <li> <h3> <%= link_to "SAGENext", "https://github.com/sungwonnam/SAGENext" %> </h3> This is the link to the Google Code repository for SAGENext, the second iteration of the SAGE software designed to run on a single machine. Most of the work is credited to Sungwon Nam but I'm proud of my contributions to the project and will continue to contribute to it. </li>
      <li><h3><%= link_to "Hoarders", "https://github.com/ssathy2/hoarders" %></h3> This project was created out of frustration that I (and possibly many other people) have: how the heck do I manage data in different cloud services? This project attempts to solve this issue using some python and in the future, an OSX app. Still in development
      <li><h3><%= link_to "H4ck3rN3ws", "https://github.com/ssathy2/H4ck3rN3ws" %></h3> A toy iPhone/iPad app for the website <%= link_to "Hacker News", "https://ycombinator.com/news" %>. App presents content on website in an easy to read manner for iOS devices. Still in development.
    </ul>
  </div>
</div>