<div>
  <h1> How to use the application </h1>
  <div class="explanation_content_container">
    <h2> Main Application View </h2> 
    <div class="image_container">
      <%= image_tag("Sidd's Phone_000179.jpg") %>
    </div>
    <div>
      <p>
        The main body of the application contains a single graph or a table showing count of all movies with respect to years. The slider underneath the X-Axis of the graph allows the user to adjust the range of years for which data can be viewed for. The slider also allows the user to pick a certain difference of years and see the graph scroll with the slider. 
      </p>
    </div>  
  </div>
  <div class="explanation_content_container">
    <h2> Graph View </h2>
    <div class="image_container">
       <%= image_tag("Sidd's Phone_000158.jpg") %>
    </div>
    <div> 
      <p>
        This is the main graph view. The Y-Axis represents count and the X-Axis represents a particular year(in interval of 2). The title of the graph denotes which data set the user is looking at and for which places or monsters the data is for.
      </p>
    </div>
  </div>
  <div class="explanation_content_container">
    <h2> Country Drilldown </h2>
    <div class="image_container">
      <%= image_tag("Sidd's Phone_000166.jpg") %>
    </div>
    <div>
      <p>
        The user selects a country or region by typing it in the textbox at the top of the sidebar. The list beneath then filters based on the text in the textbox and the user can then pick the place that he or she would like to see data for. 
	  </p>
	<div class="image_container">
       <%= image_tag("Sidd's Phone_000167.jpg") %>
    </div>
	  <p>
		One can search,view and compare upto six countries, at the same time using the same text box at top or just scroll through the list.A list adjacent to the graph will be shown,of the selected countries with the color of the line used to show that particular country on the graph. One can touch and deselect the country to make it go away from the graph.
      </p>
    </div>
	<div class="explanation_content_container">
    <h2> Monster Drilldown </h2> 
    <div class="image_container">
      <%= image_tag("Sidd's Phone_000163.jpg") %>
    </div>
    <div>
      <p>
        The set of buttons here show monsters that can searched for. As you select one, the data related to that monster appears in the graph. Multiple selection is possible.
      </p>
    </div>  
  </div>
  </div>
  <div class="explanation_content_container">
    <h2> Country+Monster Drilldown </h2> 
    <div class="image_container">
      <%= image_tag("Sidd's Phone_000158.jpg") %>
    </div>
    <div>
      <p>
        As and when you keep selecting the monsters or countries, the graph keeps on updating. So it is a combination of drilling down.
      </p>
    </div>  
  </div>
  <div class="explanation_content_container">
    <h2> Keyboard Use </h2> 
    <div class="image_container">
      <%= image_tag("Sidd's Phone_000176.jpg") %>
    </div>
    <div>
      <p>
        The onscreen keyboard lets you touch and search for countries and movies.
      </p>
    </div>  
  </div>
  <div class="explanation_content_container">
    <h2> Table View </h2>
      <div class="image_container">
        <%= image_tag("Sidd's Phone_000171.jpg") %>
      </div>
      <div>
        <p>
          At any moment in the application one can switch to a table view, by clicking at Show Table/Show Timeline toggle button.The table shows the exact information being displayed on the graph.
        </p>
      </div>
  </div>
  <div class="explanation_content_container">
    <h2> Help and Credit </h2>
      <div class="image_container">
        <%= image_tag("Sidd's Phone_000165.jpg") %>
      </div>
      <div>
        <p>
          You can, at any moment in time, see the helps or credits on the top right of the screen.
        </p>
      </div>
  </div>
  <div class="explanation_content_container">
    <h2> Info Box </h2>
      <div class="image_container">
        <%= image_tag("Sidd's Phone_000164.jpg") %>
      </div>
      <div>
        <p>
          When you select a particular film, you can see the title, year of release and the keywords tagged to it in the info box.
        </p>
      </div>
  </div>	
</div>