<div>
  <h1> Project 3: Objects in the Rear View Mirror </h1>
  <h2> Created By: Galen Thomas-Ramos, Pavle Jovanovic, Sidd Sathyam</h2>
  <h2> Welcome to Project 3! In this project we are interested in looking at causes, patterns, trends, and interesting features in highway deaths in the United States.</h2>
  <% if false %>
    div class="exp_container">
      <h2 id="projectlinks_header"> Project Links</h2>
      <ul>
        <li>
          <%=link_to "Status", {:controller => 'cs424', :action => 'project3_status' }%>   
        </li>
        <li>
          <%=link_to "How to use the application", {:controller => 'cs424', :action => 'project3_howto' }%>
        </li>
        <li>
          <%=link_to "Data processing", {:controller => 'cs424', :action => 'project3_data' }%> 
        </li>
        <li>
          <%=link_to "Source code and downloads", {:controller => 'cs424', :action => 'project3_source' }%>
        </li>
        <li>
          <%=link_to "Conclusions", {:controller => 'cs424', :action => 'project3_conclusions' }%>
        </li>
        <li>
          <%=link_to "Roles", {:controller => 'cs424', :action => 'project3_roles' }%>
        </li>
        <li>
          <%=link_to "Questions and Answers", {:controller => 'cs424', :action => 'project3_questions' }%>
        </li>
      </ul>
  </div>
  <% end %>
</div>