<div>
  <h1> Downloading and running application </h1>
  <div class = "exp_container">
    <h2>Source Code to run on wall download link</h2>
    <dd> <%= link_to "Click here to download source to run on the wall (Zip File)",  "https://github.com/ssathy2/CS424Project2/zipball/master" %></dd>
    <h2> To Run From Source </h2>
      <ol>
      <li> Download source code from link above, unzip to a folder on computer.</li>
      <li> Download Processing version 2.0a8 from <%= link_to "here", "http://code.google.com/p/processing/downloads/list"%> that is suitable for your machine.</li>
      <li> Unzip Processing to a folder on your computer</li>
      <li> Download controlP5 library version 1.5.1 from <%= link_to "here", "http://code.google.com/p/controlp5/downloads/detail?name=controlP5-1.5.1.zip"%>.</li>
      <li> Unzip controlP5 library version 1.5.1 and place extracted folder into "libraries" folder of Processing sketches.</li>
      <li> Download the OMicron Processing API from <%= link_to "here", "http://code.google.com/p/omicron-sdk/downloads/list"%> and place extracted folder into "libraries" folder of Processing sketches.</li>
      <li> Download and install MySql libraries from <%= link_to "here", "http://bezier.de/processing/libs/sql/download/SQLibrary-0.1.0.zip"%> and place extracted folder into "libraries" folder of Processing sketches.</li>
      <li> Run Processing IDE from within folder in step 3 and open "CS424Project2.pde" within folder from step 1.</li>
      <li> Click Play button in Processing IDE to run application.</li>
    </ol>
  </div>
</div>