<div>
  <h1> Project 2: Monster Mash </h1>
  <h2> Created By: Anna Mukhina, Kush Shah, Sidd Sathyam</h2>
  <h2> Welcome to project 2! In this project we are interested in monsters in horror movies </h2>
  <div class="movie_container">
    <h2> Video Walkthrough of Application </h2>
    <div class="youtube_video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UPxFmDEmLPg?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>     
  </div>
  <div class="exp_container">
      <h2 id="projectlinks_header"> Project Links</h2>
      <ul>
        <li>
          <%=link_to "Status", {:controller => 'cs424', :action => 'project2_status' }%>   
        </li>
        <li>
          <%=link_to "How to use the application", {:controller => 'cs424', :action => 'project2_howto' }%>
        </li>
        <li>
          <%=link_to "Data processing", {:controller => 'cs424', :action => 'project2_data' }%> 
        </li>
        <li>
          <%=link_to "Source code and downloads", {:controller => 'cs424', :action => 'project2_source' }%>
        </li>
        <li>
          <%=link_to "Conclusions", {:controller => 'cs424', :action => 'project2_conclusions' }%>
        </li>
        <li>
          <%=link_to "Roles", {:controller => 'cs424', :action => 'project2_roles' }%>
        </li>
      </ul>
  </div>
</div>